.main-layout {
    display: grid;
    grid-template-columns:
        minmax(80px, 1fr) 
        minmax(auto, 980px) 
        minmax(80px, 1fr);
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: 1 /-1;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 1em;
}

.main-editor {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 200px;
}