.header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    height: 10vh;

    padding-inline: 1em;
}

.header-nav {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    height: 10vh;
}

.main-gallery {
    display: flex;
    flex-direction: column;
}

.gallery-keywords {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;

    height: 10vh;

    margin: 0;
    padding-inline: 1em;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-auto-flow: dense;
    gap: 10px;

    height: 80vh;

    overflow-y: auto;
}

.main-editor {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;

    height: 80vh;

    margin: 0;
    margin-block-end: 5vh;
    padding-block: 1em;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40vw;
}

.editor {
    display: grid;
    justify-content: center;
    align-items:center;

    width: 40vw;
}

.editor-controls {
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    align-items: start;

}

.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

.toggle-menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .header-nav {
        position: fixed;
        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        height: 100dvh;

        padding: 1em;
        background-color: var(--primary-bgc-clr);

        transform: translateX(100%);

        transition: transform 0.5s
    }

    body.menu-open .header-nav {
        transform: translateX(0);
    }

    .main-gallery {
        display: flex;
        flex-direction: row;
        height: 80vh;

        padding-inline-end: 0;
    }

    .nav-gallery {
        border-inline-end: 0;
    }

    .img-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
        grid-auto-flow: dense;
        gap: 10px;

        max-height: 80vh;
        width: 100%;

        overflow-y: auto;
    }

    .gallery-keywords {
        display: flex;
        flex-direction: column;
        gap: 2vw;

        height: 80vh;

        padding-block-start: 1em;
        padding-inline: 1em;
    }

    .main-header .toggle-menu {
        display: block;
    }

    .main-editor {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .canvas-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 300px;
    }

    .editor {
        display: grid;
        justify-content: center;
        align-items: center;

        width: 300px;
    }
}