.main-layout {
    display: grid;
    grid-template-columns:
        minmax(80px, 1fr) 
        minmax(auto, 20fr) 
        minmax(80px, 1fr);
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: 1 /-1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    
    padding-inline: 1em;
}

.main-editor {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap:10vw;

    height: 65vh;
    
    margin-block: 5vh;
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    width: 100%;
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 15vh;
}